@import "tailwindcss";
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 20px));
  }
}

.infinite-scroll {
  animation: infinite-scroll 10s linear infinite;
}