@import "tailwindcss";
@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}

.scroll {
  animation: scroll 60s linear 0s infinite normal none running ; will-change: transform;;
}